{% extends "base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}Sign in to access the Scancer webapp prototype{% endblock title %}

{% block inline_css %}
<style>
.form-auth {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-auth .checkbox {
  font-weight: 400;
}

.form-auth .form-floating:focus-within {
  z-index: 2;
}

.form-auth input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-auth input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
</style>
{% endblock %}

{% block content %}
<main class="form-auth">
  <form class="login" method="POST" action="{% url 'account_login' %}">
    {% csrf_token %}
    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
    <p>If you have not created an account yet, then please <a href="{{ signup_url }}">sign up</a> first.</p>
    <div class="form-floating">
      <input name="login" type="text" class="form-control" id="floatingInput" placeholder="Username">
      <label for="floatingInput">Username</label>
    </div>
    <div class="form-floating">
      <input name="password" type="password" class="form-control" id="floatingPassword" placeholder="Password">
      <label for="floatingPassword">Password</label>
    </div>

    <div class="checkbox mb-3">
      <label>
        <input name="remember" type="checkbox"> Remember me
      </label>
    </div>

    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}

    <button class="w-100 btn btn-lg btn-primary mb-3" type="submit">Sign in</button>
    <p class=""><a href="{% url 'account_reset_password' %}">Forgot password?</a></p>
  </form>
</main>
{% endblock %}
