{% extends "base.html" %}

{% load i18n %}

{% block title %}The Scancer Project{% endblock title %}

{% block content %}
<main>
  <div class="container">
    <p class="lead">This is the landing page. It contains a punchy summary of the project and prompts people to:</p>
    <ul>
      <li><a href="{% url 'about' %}">Learn more about the project</a></li>
      <li><a href="{% url 'account_login' %}">Explore the prototype</a></li>
      <li><a href="{% url 'contribute' %}">Contribute to the project</a></li>
    </ul>
  </div>
</main>
{% endblock content %}
