{% extends "base.html" %}

{% load static %}

{% block title %}The Scancer Project{% endblock title %}

{% block content %}
<main class="container">
  <div class="px-4 pt-3 text-center">
    <h1 class="display-4 fw-bold">Early Detection Saves Lives</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Breast cancer diagnosis is time-consuming, and histopathologists are overwhelmed by more slides than they have time to review. We’re developing Scancer to help histopathologists everywhere prioritise slides and identify metastases faster with greater accuracy.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
        <a href="{% url 'account_signup' %}" class="btn btn-primary btn-lg px-4 me-sm-3">Be a Part of Our Mission</a>
        <a href="{% url 'about' %}" class="btn btn-outline-secondary btn-lg px-4">Learn More</a>
      </div>
    </div>
    <div class="overflow-hidden" style="max-height: 40vh;">
      <div class="container px-5">
        <img src="{% static 'images/about/scan-detail.png' %}" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="800" height="500" loading="lazy">
      </div>
    </div>
  </div>
</main>
{% endblock content %}
