{% extends "base_app.html" %}

{% load static %}

{% block title %}Details of {{ examination.get_kind_display }} &ndash; {{ examination.id  }}{% endblock %}

{% block inline_css %}
<style>
  #slide {
      background-color: #17141f;
  }
  #slide.fullpage {
      left: 0%;
      border: 0;
  }
</style>
{% endblock inline_css %}

{% block content %}
<main class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <h1 class="mt-2 mb-3">
        {{ examination.get_kind_display }} &ndash; {{ examination.id  }}
      </h1>

      <ul class="nav nav-tabs mb-3" id="scanTabs" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="info-tab" data-bs-toggle="tab" data-bs-target="#info" type="button" role="tab" aria-controls="info" aria-selected="true">Info</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="analysis-tab" data-bs-toggle="tab" data-bs-target="#analysis" type="button" role="tab" aria-controls="analysis" aria-selected="false">Analysis</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="notes-tab" data-bs-toggle="tab" data-bs-target="#notes" type="button" role="tab" aria-controls="notes" aria-selected="false">Notes</button>
        </li>
      </ul>

      <div class="tab-content" id="scanTabsContent">
        <div class="tab-pane fade show active" id="info" role="tabpanel" aria-labelledby="info-tab">
          <dl class="row">
            <dt class="col-sm-5">Patient Name</dt>
            <dd class="col-sm-7"><a href="{{ examination.patient.get_absolute_url }}">{{ examination.patient.name }}</a></dd>
            <dt class="col-sm-5">Hospital&nbsp;Number</dt>
            <dd class="col-sm-7">{{ examination.patient.hospital_number }}</dd>
            <dt class="col-sm-5">Sex</dt>
            <dd class="col-sm-7">
              {{ examination.patient.get_sex_display }}
            </dd>
            <dt class="col-sm-5">Doctor</dt>
            <dd class="col-sm-7">{{ examination.patient.doctor }}</dd>
            <dt class="col-sm-5">Scan Date</dt>
            <dd class="col-sm-7">{{ examination.date }}</dd>
            <dt class="col-sm-5">Examined&nbsp;By</dt>
            <dd class="col-sm-7">{{ examination.healthcare_professional }}</dd>
            <dt class="col-sm-5">Risk Level</dt>
            <dd class="col-sm-7">
              <span class="badge bg-{{ examination.priority_colour }}">{{ examination.get_priority_display }}</span>
            </dd>
            <!-- <dt class="col-sm-5">Status</dt> -->
            <!-- <dd class="col-sm-7"> -->
            <!--   <span class="badge bg-warning">Unprocessed</span> -->
            <!-- </dd> -->
          </dl>
        </div>
        <div class="tab-pane fade" id="analysis" role="tabpanel" aria-labelledby="analysis-tab">
          <h2>Automatic Analysis</h2>
          <p>Scancer is being built to support the following, either in real-time or batch offline mode.</p>
          {% if examination.first_scan_heatmap_path %}
          <a href="{% static examination.first_scan_heatmap_path %}" class="btn btn-outline-primary btn-sm mb-2" download>
            Download Pre-Generated Heatmap
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
              <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
              <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
            </svg>
          </a>
          {% endif %}

          <button type="button" class="btn btn-outline-primary btn-sm disabled mb-4">Auto Classify Scan</button>
          <h2>Manual Confirmation</h2>
          <p>Once the deep learning system presents its analysis, a pathologist can confirm or update the findings.</p>
          <button type="button" class="btn btn-primary btn-sm disabled mb-2">Confirm Analysis</button><br>
          <button type="button" class="btn btn-outline-primary btn-sm disabled">Manually Annotate</button>
        </div>
        <div class="tab-pane fade" id="notes" role="tabpanel" aria-labelledby="notes-tab">
          <div>
            <textarea class="form-control mb-3" id="exampleFormControlTextarea1" rows="10">{{ examination.note }}</textarea>
            <button type="button" class="btn btn-primary disabled">Update</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-9 bg-dark p-0">
      <div id="slide" class="vh-100"></div>
    </div>
  </div>
</main>
{% endblock content %}


{% block inline_javascript %}
<script src="{% static 'js/slide/jquery.js' %}"></script>
<script src="{% static 'js/slide/openseadragon.js' %}"></script>
<script src="{% static 'js/slide/openseadragon-scalebar.js' %}"></script>

<script>
  $(document).ready(function() {
      var dzi_data = {{ dzi_data|default:"{}"|safe }};
      var viewer = new OpenSeadragon({
          id: "slide",
          prefixUrl: "{% static 'images/slide/' %}",
          timeout: 120000,
          animationTime: 0.5,
          blendTime: 0.1,
          constrainDuringPan: true,
          maxZoomPixelRatio: 2,
          minZoomLevel: 1,
          visibilityRatio: 1,
          zoomPerScroll: 2,
      });
      viewer.addHandler("open", function() {
          // To improve load times, ignore the lowest-resolution Deep Zoom
          // levels.  This is a hack: we can't configure the minLevel via
          // OpenSeadragon configuration options when the viewer is created
          // from DZI XML.
          viewer.source.minLevel = 8;
      });
      viewer.scalebar({
          xOffset: 10,
          yOffset: 10,
          barThickness: 3,
          color: '#555555',
          fontColor: '#333333',
          backgroundColor: 'rgba(255, 255, 255, 0.5)',
      });

      function open_slide(url, mpp) {
          var tile_source;
          if (dzi_data[url]) {
              // DZI XML provided as template argument (deepzoom_tile.py)
              tile_source = new OpenSeadragon.DziTileSource(
                  OpenSeadragon.DziTileSource.prototype.configure(
                      OpenSeadragon.parseXml(dzi_data[url]), url));
          } else {
              // DZI XML fetched from server (deepzoom_server.py)
              tile_source = url;
          }
          viewer.open(tile_source);
          viewer.scalebar({
              pixelsPerMeter: mpp ? (1e6 / mpp) : 0,
          });
      }

      open_slide("{{ slide_url }}", "{{ slide_mpp }}");
      $(".load-slide").click(function(ev) {
          $(".current-slide").removeClass("current-slide");
          $(this).parent().addClass("current-slide");
          open_slide($(this).attr('data-url'),
                     parseFloat($(this).attr('data-mpp')));
          ev.preventDefault();
      });
  });
</script>
{% endblock inline_javascript %}
