{% extends "base_app.html" %}

{% load static %}

{% block title %}Details of {{ examination.get_kind_display }} &ndash; {{ examination.id  }}{% endblock %}

{% block inline_css %}
<style>
  #slide {
      background-color: black;
  }
  #slide.fullpage {
      left: 0%;
      border: 0;
  }
</style>
{% endblock inline_css %}

{% block content %}
<main class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <h1 class="mt-2 mb-3">
        {{ examination.get_kind_display }} &ndash; {{ examination.id  }}
      </h1>

      <ul class="nav nav-tabs mb-3" id="scanTabs" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="info-tab" data-bs-toggle="tab" data-bs-target="#info" type="button" role="tab" aria-controls="info" aria-selected="true">Info</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="analysis-tab" data-bs-toggle="tab" data-bs-target="#analysis" type="button" role="tab" aria-controls="analysis" aria-selected="false">Analysis</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="notes-tab" data-bs-toggle="tab" data-bs-target="#notes" type="button" role="tab" aria-controls="notes" aria-selected="false">Notes</button>
        </li>
      </ul>

      <div class="tab-content" id="scanTabsContent">
        <div class="tab-pane fade show active" id="info" role="tabpanel" aria-labelledby="info-tab">
          <dl class="row">
            <dt class="col-sm-5">Patient Name</dt>
            <dd class="col-sm-7">{{ examination.patient.name }}</dd>
            <dt class="col-sm-5">Hospital&nbsp;Number</dt>
            <dd class="col-sm-7">{{ examination.patient.hospital_number }}</dd>
            <dt class="col-sm-5">Sex</dt>
            <dd class="col-sm-7">
              {{ examination.patient.get_sex_display }}
            </dd>
            <dt class="col-sm-5">Doctor</dt>
            <dd class="col-sm-7">{{ examination.patient.doctor }}</dd>
            <dt class="col-sm-5">Scan Date</dt>
            <dd class="col-sm-7">{{ examination.date }}</dd>
            <dt class="col-sm-5">Examined&nbsp;By</dt>
            <dd class="col-sm-7">{{ examination.healthcare_professional }}</dd>
            <dt class="col-sm-5">Priority</dt>
            <dd class="col-sm-7">
              <span class="badge bg-{{ examination.priority_colour }}">{{ examination.get_priority_display }}</span>
            </dd>
            <dt class="col-sm-5">Status</dt>
            <dd class="col-sm-7">
              <span class="badge bg-warning">Unprocessed</span>
            </dd>
          </dl>
        </div>
        <div class="tab-pane fade" id="analysis" role="tabpanel" aria-labelledby="analysis-tab">
          <button type="button" class="btn btn-outline-primary mb-3">Load Heatmap</button>

          <button type="button" class="btn btn-outline-primary disabled mb-1">Auto Classification in Progress</button>
          <div class="progress mb-3">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
          </div>
          <button type="button" class="btn btn-primary disabled mb-3">Manually Annotate</button>
        </div>
        <div class="tab-pane fade" id="notes" role="tabpanel" aria-labelledby="notes-tab">
          <div>
            <textarea class="form-control mb-3" id="exampleFormControlTextarea1" rows="10">{{ examination.note }}</textarea>
            <button type="button" class="btn btn-primary disabled">Update</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div id="slide" class="vh-100"></div>
    </div>
  </div>
</main>
{% endblock content %}


{% block inline_javascript %}
<script src="{% static 'js/slide/jquery.js' %}"></script>
<script src="{% static 'js/slide/openseadragon.js' %}"></script>
<script src="{% static 'js/slide/openseadragon-scalebar.js' %}"></script>

<script>
  $(document).ready(function() {
      var dzi_data = {{ dzi_data|default:"{}"|safe }};
      var viewer = new OpenSeadragon({
          id: "slide",
          prefixUrl: "{% static 'images/slide/' %}",
          timeout: 120000,
          animationTime: 0.5,
          blendTime: 0.1,
          constrainDuringPan: true,
          maxZoomPixelRatio: 2,
          minZoomLevel: 1,
          visibilityRatio: 1,
          zoomPerScroll: 2,
      });
      viewer.addHandler("open", function() {
          // To improve load times, ignore the lowest-resolution Deep Zoom
          // levels.  This is a hack: we can't configure the minLevel via
          // OpenSeadragon configuration options when the viewer is created
          // from DZI XML.
          viewer.source.minLevel = 8;
      });
      viewer.scalebar({
          xOffset: 10,
          yOffset: 10,
          barThickness: 3,
          color: '#555555',
          fontColor: '#333333',
          backgroundColor: 'rgba(255, 255, 255, 0.5)',
      });

      function open_slide(url, mpp) {
          var tile_source;
          if (dzi_data[url]) {
              // DZI XML provided as template argument (deepzoom_tile.py)
              tile_source = new OpenSeadragon.DziTileSource(
                  OpenSeadragon.DziTileSource.prototype.configure(
                      OpenSeadragon.parseXml(dzi_data[url]), url));
          } else {
              // DZI XML fetched from server (deepzoom_server.py)
              tile_source = url;
          }
          viewer.open(tile_source);
          viewer.scalebar({
              pixelsPerMeter: mpp ? (1e6 / mpp) : 0,
          });
      }

      open_slide("{{ slide_url }}", "{{ slide_mpp }}");
      $(".load-slide").click(function(ev) {
          $(".current-slide").removeClass("current-slide");
          $(this).parent().addClass("current-slide");
          open_slide($(this).attr('data-url'),
                     parseFloat($(this).attr('data-mpp')));
          ev.preventDefault();
      });
  });
</script>
{% endblock inline_javascript %}
