{% load static i18n compress%}<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Webapp that uses computer vision to assist with early detection of breast cancer">
    <meta name="author" content="Harish Narayanan and Daniel Hen">

    <title>{% block title %}Scancer{% endblock title %}</title>
    <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}">

    {% block css %}
    {% compress css %}
    <link href="{% static 'css/project.css' %}" rel="stylesheet">
    {% endcompress %}
    {% endblock %}

    {% block inline_css %}
    {% endblock inline_css %}
  </head>
  <body>
    {% block content %}
    {% block header %}
    <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
      <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="{% url 'home'%}">scancer</a>
      <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      {% if request.user.is_authenticated %}
      <div class="text-end me-3 my-1">
        <a href="{% url 'users:detail' request.user.username  %}" class="btn btn-sm btn-outline-light me-2">{% trans "Preferences" %}</a>
        <a href="{% url 'account_logout' %}" class="btn btn-sm btn-outline-danger">{% trans "Sign Out" %}</a>
      </div>
      {% else%}
      <div class="text-end me-3 my-1">
        <a href="{% url 'account_login' %}" class="btn btn-sm btn-outline-light me-2">{% trans "Sign In" %}</a>
        <a href="{% url 'account_signup' %}" class="btn btn-sm btn-primary">{% trans "Sign Up" %}</a>
      </div>
      {% endif %}
    </header>
    {% endblock header %}

    {% block messages %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %} alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}
    {% endblock messages %}

    <div class="row">
      {% block navigation %}
      <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
        <div class="position-sticky pt-3">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link {% if request.path == '/patients/' %}active{% endif %}" aria-current="page" href="{% url 'patients:list' %}">
                <span data-feather="home"></span>
                Patients
              </a>
            </li>
          </ul>

          <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>Examinations</span>
            <a class="link-secondary" href="#" aria-label="Look at all examinations">
              <span data-feather="plus-circle"></span>
            </a>
          </h6>
          <ul class="nav flex-column mb-2">
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span data-feather="file-text"></span>
                Manual Exams
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span data-feather="file-text"></span>
                Mammograms
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span data-feather="file-text"></span>
                Lymph Node Biopsies
              </a>
            </li>
          </ul>

          <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>API Tests</span>
            <a class="link-secondary" href="#" aria-label="Some tests of the API">
              <span data-feather="plus-circle"></span>
            </a>
          </h6>
          <ul class="nav flex-column mb-2">
            <li class="nav-item">
              <a class="nav-link {% if request.path == '/api-tests/mnist/' %}active{% endif %}" href="{% url 'api_tests:mnist' %}">
                <span data-feather="file-text"></span>
                MNIST
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if request.path == '/api-tests/pcam/' %}active{% endif %}" href="#">
                <span data-feather="file-text"></span>
                PCAM
              </a>
            </li>
          </ul>
        </div>
      </nav>
      {% endblock navigation %}

      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      {% block main %}
      {% endblock main %}
      </main>

    </div>

</div>
{% endblock content %}

{% block javascript %}
{% compress js %}
<script defer src="{% static 'js/vendors.js' %}"></script>
{% endcompress %}
{% compress js %}
<script defer src="{% static 'js/project.js' %}"></script>
{% endcompress %}
{% endblock javascript %}

{% block inline_javascript %}
{% endblock inline_javascript %}

{% block modal %}{% endblock modal %}
</body>
</html>

{% comment %}
  {% block footer %}
  <footer class="pt-5 my-5 text-muted border-top">
    Created by <a href="">Harish Narayanan</a> and <a href="">Daniel Hen</a> &middot; &copy; 2021
  </footer>
  {% endblock footer %}
{% endcomment %}
