{% load static i18n compress%}<!DOCTYPE html>

<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Webapp that uses computer vision to assist with early detection of breast cancer">
    <meta name="author" content="Harish Narayanan and Daniel Hen">

    <title>{% block title %}Scancer{% endblock title %}</title>
    <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}">

    {% block css %}
    <link href="{% static 'css/project.css' %}" rel="stylesheet">
    {% endblock %}

    {% block inline_css %}
    {% endblock inline_css %}
  </head>

  <body>
    {% block messages %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %} alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}
    {% endblock messages %}

    {% block header %}
    <div class="container">
      <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none fs-4">
          Scancer
        </a>
        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
          <li><a href="{% url 'home' %}" class="nav-link px-2 link-{% if request.path == '/' %}secondary{% else %}dark{% endif %}">Home</a></li>
          <li><a href="{% url 'about' %}" class="nav-link px-2 link-{% if request.path == '/about/' %}secondary{% else %}dark{% endif %}">About</a></li>
          <li><a href="{% url 'contribute' %}" class="nav-link px-2 link-{% if request.path == '/contribute/' %}secondary{% else %}dark{% endif %}">Contribute</a></li>
          <li><a href="https://github.com/scancer-org" class="nav-link px-2 link-dark">GitHub</a></li>
        </ul>

        <div class="col-md-3 text-end">
          {% if request.user.is_authenticated %}
          <a href="{% url 'account_logout' %}" class="btn btn-outline-primary me-2">{% trans "Sign Out" %}</a>
          {% else %}
          <a href="{% url 'account_login' %}" class="btn btn-outline-primary me-2">{% trans "Try Prototype" %}</a>
          {% endif %}
        </div>
      </header>
    </div>
    {% endblock header %}

    {% block content %}
    {% endblock content %}

    {% block footer %}
    <footer class="text-muted py-4 bg-light">
      <div class="container">
        <p class="mb-1">A one-line summary of the project. <a href="{% url 'contribute' %}">Learn how to contribute</a>.</p>
        <p class="mb-0">&copy; 2021 Harish Narayanan and Daniel Hen</p>
      </div>
    </footer>
    {% endblock footer %}

    {% block javascript %}
    {% compress js %}
    <script defer src="{% static 'js/vendors.js' %}"></script>
    {% endcompress %}
    {% compress js %}
    <script defer src="{% static 'js/project.js' %}"></script>
    {% endcompress %}
    {% endblock javascript %}

    {% block inline_javascript %}
    {% endblock inline_javascript %}

    {% block modal %}{% endblock modal %}
  </body>
</html>
