{% load static i18n compress%}<!DOCTYPE html>

<html lang="en" class="h-100">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{% block description %}Scancer is a web app that uses computer vision to assist with early detection of breast cancer{% endblock description %}">
    <meta name="author" content="{% block author %}Harish Narayanan{% endblock author%}">

    <title>{% block title %}Scancer{% endblock title %}</title>
    <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}">

    {% block css %}
    <link href="{% static 'css/project.css' %}" rel="stylesheet">
    {% endblock %}

    {% block inline_css %}
    {% endblock inline_css %}
  </head>

  <body class="d-flex flex-column h-100">
    {% block messages %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %} alert-dismissible fade show mb-0" role="alert">
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}
    {% endblock messages %}

    {% block header %}
    <div class="container">
      <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
          <img width="120" src="{% static 'images/logo.svg' %}" alt="Logo of the Scancer Project">
        </a>

        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
          <li><a href="{% url 'about' %}" class="nav-link px-2 link-{% if request.path == '/about/' %}secondary{% else %}dark{% endif %}">Vision</a></li>
          <li><a href="{% url 'contribute' %}" class="nav-link px-2 link-{% if request.path == '/contribute/' %}secondary{% else %}dark{% endif %}">How Can You Help?</a></li>
        </ul>
        <a href="{% url 'account_login' %}" class="btn btn-outline-primary me-2 ms-3">Sign In</a>
      </header>
    </div>
    {% endblock header %}

    {% block content %}
    {% endblock content %}

    {% block footer %}
    <footer class="mt-auto py-4 bg-light text-muted">
      <div class="container">
        <p class="mb-1">Scancer aims to increase access to the early detection of breast cancer. <a href="{% url 'contribute' %}">Find out how you can help</a>.</p>
        <p class="mb-0">&copy; 2021 Harish Narayanan and Daniel Hen</p>
      </div>
    </footer>
    {% endblock footer %}

    {% block javascript %}
    {% compress js %}
    <script defer src="{% static 'js/vendors.js' %}"></script>
    {% endcompress %}
    {% compress js %}
    <script defer src="{% static 'js/project.js' %}"></script>
    {% endcompress %}
    {% endblock javascript %}

    {% block inline_javascript %}
    {% endblock inline_javascript %}

    {% block modal %}{% endblock modal %}
  </body>
</html>
