{% extends "base_app.html" %}

{% load static %}

{% block title %}Details of {{ patient.name }}{% endblock %}


{% block content %}
<main class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <h1 class="mt-2 mb-3">
        {{ patient.name }}
      </h1>

      <ul class="nav nav-tabs mb-3" id="scanTabs" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="info-tab" data-bs-toggle="tab" data-bs-target="#info" type="button" role="tab" aria-controls="info" aria-selected="true">Info</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="notes-tab" data-bs-toggle="tab" data-bs-target="#notes" type="button" role="tab" aria-controls="notes" aria-selected="false">Notes</button>
        </li>
      </ul>

      <div class="tab-content" id="scanTabsContent">
        <div class="tab-pane fade show active" id="info" role="tabpanel" aria-labelledby="info-tab">
          <dl class="row">
            <dt class="col-sm-5">Hospital&nbsp;Number</dt>
            <dd class="col-sm-7">{{ patient.hospital_number }}</dd>
            <dt class="col-sm-5">Sex</dt>
            <dd class="col-sm-7">
              {{ patient.get_sex_display }}
            </dd>
            <dt class="col-sm-5">Doctor</dt>
            <dd class="col-sm-7">{{ patient.doctor }}</dd>
            <dt class="col-sm-5">Last Examined</dt>
            <dd class="col-sm-7">{{ patient.last_examination.date }}</dd>
            <dt class="col-sm-5">Examined&nbsp;By</dt>
            <dd class="col-sm-7">{{ patient.last_examination.healthcare_professional }}</dd>
            <dt class="col-sm-5">Overall Risk</dt>
            <dd class="col-sm-7">
              <span class="badge bg-{{ patient.risk_colour }} {% if not patient.risk %}text-secondary{% endif %}">{% if patient.risk %}{{ patient.get_risk_display }}{% else %}Unidentified{% endif %}</span>
            </dd>
          </dl>
          <a class="btn btn-primary disabled" href="">Book Next Appointment</a>
        </div>
        <div class="tab-pane fade" id="notes" role="tabpanel" aria-labelledby="notes-tab">
          <div>
            <textarea class="form-control mb-3" id="exampleFormControlTextarea1" rows="10">{{ patient.note }}</textarea>
            <button type="button" class="btn btn-primary disabled">Update</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="container-fluid py-4">
        <div class="row">
          {% for examination in patient.examination_set.all %}
          <div class="col col-12 col-md-6 col-lg-4">
            <div class="card shadow-sm">
              <div class="card-body">
                <h5 class="card-title">{{ examination.get_kind_display }} {% if examination.priority %}<span class="badge bg-{{ examination.priority_colour }}">{{ examination.get_priority_display }}</span>{% endif %}</h5>
                <p class="card-text">{{ examination.note }}</p>
                <div class="d-flex justify-content-between align-items-center">
                  <small class="text-muted">{{ examination.date }}<br>Examined by {{ examination.healthcare_professional }}</small>
                  <a href="{{ examination.get_absolute_url }}" class="btn btn-primary">View</a>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock content %}
